#text-output {
    min-height: 200px;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    text-align: left;
  }
  
  #text-input {
    min-height: 200px;
  }
  
  .editor .col {
    max-width: 50%;
    flex-basis: 50%;
  }

  .intro-social {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 5%;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: black;
  }
  .intro-social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
  }
  .intro-social li a, .intro-social li a:visited {
    color: #000;
  }
  .intro-social li a:hover, .intro-social li a:focus {
    color: #0044ff;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  